.header {
    display: flex;
    /* flex-direction: row; Por padrão é row, então não uso agora*/
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 73px;
}

.navigation {
    display: flex;
    gap: 6rem;
}

.navigation a {
    color: #CD313E;
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    font-size: 1.4rem;
}

.header img {
    width: 9.8rem;
    height: 3.8rem;
}

.header button {
    width: 160px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: #eb423f;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    text-align: center;
}

.content {
    padding-top: 240px;
    padding-bottom: 440px;
    margin-bottom: 100px;
}

.content div {
    background-color: #cecece;
    width: 540px;
}

.content div span {
    color: #D44D51;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}