.header {
    display: flex;
    /* flex-direction: row; Por padrão é row, então não uso agora*/
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 73px;
}

.navigation {
    display: flex;
    gap: 6rem;
}

.navigation a {
    color: #CD313E;
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    font-size: 1.4rem;
}

.header img {
    width: 9.8rem;
    height: 3.8rem;
}

.header button {
    width: 160px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: #eb423f;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}

main {
    width: 100vw;
    height: calc(141.2rem - 50rem);
}

.main-section {
    display: flex;
    flex-direction: column;
    width: 37.4%;
    height: 29.8%;
    margin-left: 8.71rem;
    margin-top: calc(28.4rem - 120px);
}

.main-section h1 {
    color: #091133;
    font-size: 5rem;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
}

.main-section p {
    color: #d44d51;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: 2rem;
}

.main-btns {
    display: flex;
    gap: 30px;
    margin-top: 3rem;
}

.first-btn-main {
    width: 189px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #CD313E;
    cursor: pointer;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px;
}

.second-btn-main {    
    width: 189px;
    height: 36px;
    flex-shrink: 0;
    border: 2px solid #091133;
    cursor: pointer;
    color: #091133;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px;
    background-color: transparent;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 21.6rem;
    background-color: #F78282;
    padding-bottom: 36px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    width: 77%;
    padding-top: 47px;
}

.footer-infos {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.footer-infos button {
    color: white;
    width: 109px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: #d04a3b;
    cursor: pointer;
    border: none;
}

.footer-nav-social {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    margin-top: 46px;
    padding-top: 50px;
}

.footer-nav-social img {
    width: 200px;
    height: 16px;
    flex-shrink: 0;
}

.navigation-footer {
    display: flex;
    gap: 6rem;
}

.navigation-footer a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    line-height: 24px;
    font-size: 1.4rem;
}